*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}
nav,ul,li{
    background-color: cadetblue;
    color: black;
   display: flex;
   padding: 5px;
   justify-content: center;
}
li{
    margin-left: 15px;
    cursor: pointer;
}
li:hover{
    color: white;
}
.about{
    text-align: center;
    padding: 20px;
}
.Events{
    text-align: center;
}
.box{
   border-style: solid;
   
}